import { {componentNamePascal}Props } from './{componentNameKebab}-interfaces'

const {componentNamePascal} = (props: {componentNamePascal}Props) => {
  return (
    <div className="{componentNameKebab}-wrapper">
      {componentNamePascal}
    </div>
  )
}

export default {componentNamePascal}