import { {componentNamePascal}Props } from './{componentNameKebab}-interfaces'
import './{componentNameKebab}.scss'

export const {componentNamePascal} = (props: {componentNamePascal}Props) => {
  return (
    <div className="{componentNameKebab}-wrapper">
      {componentNamePascal}
    </div>
  )
}