import { render } from '@testing-library/react'
import {componentNamePascal} from './{componentNameKebab}'

describe('{componentNamePascal} component tests', () => {
  it('Renders', async () => {
    const appComponent = render(<{componentNamePascal} />)

    expect(appComponent.container).toBeInTheDocument()
  })
})